.weather {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;

    &__tittle {
        margin: 0 0 30px 0;
        color: $tittleColor;
        text-align: center;
        font-size: 50px;
        letter-spacing: 2px;
        user-select: none;
    }

    &__form {
        // max-width: 450px;
        // width: 100%;
        // padding: 0 15px;
        width: min(100% - 30px, 500px);

        @include forBigPhone {
            width: min(100% - 30px, 250px);
        }

    }

    &__city {
        width: 100%;
        margin: 0 0 30px 0;
        border-radius: 20px;
        padding: 10px;
        background-color: $formBgColor;
        color: $formFontColor;
        outline: none;
        border: 2px solid $formBorderColor;
        text-align: center;

        &::placeholder {
            color: $formTextColor;
        }

    }


    &__info {
        padding: 30px;
        background-color: #000000a4;
        color: #fff;
        display: flex;
        align-items: center;
        gap: 15px;
        border-radius: 20px;

        @include forBigPhone {
            flex-direction: column;
            text-align: center;
        }

    }

    &__temp {
        font-size: 40px;
        display: flex;

        &__span {
            font-size: 20px;
            margin: 6px 0 0 0;
        }

    }

    &__details {
        p {
            margin: 0 0 5px 0;

            &:last-of-type {
                margin: 0;
            }
        }
    }

}